body {

    margin-left: 25px;
    background-color: rgba(255,255,255,1);
    font-family: sans-serif;

}

#heading {

    color: darkgreen;
    font-weight: 800;

}

.subheading {

    color: rgb(0, 150, 0,1);

}

.content {

    color: rgba(0,0,0,1);

}