body {

background-color: grey;
font-family: sans-serif;

}

#heading {

background-color: grey;
color: darkgreen;
font-weight: 800;

}

ul li {

color: aliceblue;
background-color: grey;

}

.subheading {

    color: lightgreen;

}

.content {

    color: aquamarine;

}